body {
  direction: rtl;
  margin: 0;
  padding: 0;
  color: #acacac;
  background-color: #fff;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 100%;
  background-color: #ff1749;
  color: #fff;
  margin: 10px 0px;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 1px #e1e1e1;
  border-radius: 7px;
}
.frmInputData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txtCostDescription,
.txtCostPrice {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 60%;
  height: 25px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ff1749;
  border-radius: 7px;
  outline: none;
  padding: 5px;
  margin-left: 10px;
}
.txtCostPrice {
  width: 40%;
}
.btnSaveCost {
  flex-basis: 20%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 30px;
  padding-bottom: 5px;
  margin-left: 20px;
  background-color: #3437fc;
  border-color: #3437fc;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btnSaveCost:hover {
  cursor: pointer;
  background-color: #0004ff;
  border-color: #0004ff;
}
.costs-container {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: #ff1749;
  border: 1px solid #ff1749;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 1px #bbbbbb;
}
.costs-list {
  color: #fff;
  margin: 10px;
  padding: 10px;
}
.cost-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 5px auto;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 7px;
}
.content-container {
  height: 75px;
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid #ff1749;
  border-radius: 7px;
}
.cost-description,
.cost-price {
  flex-basis: 50%;
  color: #000;
  text-align: justify;
  padding-right: 10px;
}
.button-container {
  flex-basis: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-edit {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 90%;
  height: 30px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  background-color: #3437fc;
  border-color: #3437fc;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btn-edit:hover,
.btn-delete:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #bbbbbb;
}
.btn-edit:hover {
  background-color: #0004ff;
  border-color: #0004ff;
}
.btn-delete:hover {
  background-color: #dd0101;
  border-color: #dd0101;
}
.btn-delete {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 90%;
  height: 30px;
  padding-bottom: 5px;
  color: #fff;
  background-color: red;
  border-color: red;
  border: none;
  outline: none;
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  .costs-container {
    flex-basis: 90vw;
    margin: 10px 0px;
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  .costs-container {
    flex-basis: 90vw;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 666px) {
  .content-container {
    flex-direction: column;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .costs-container {
    flex-basis: 45vw;
    margin: 10px 0px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .costs-container {
    flex-basis: 45vw;
    margin: 10px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .costs-container {
    flex-basis: 22.5vw;
    margin: 10px 0px;
  }
}
